<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
	</runtime>
	<appSettings>
		<add key="EPPlus:ExcelPackage.AllowCircularReferences" value="false" />
		<add key="EPPlus:ExcelPackage:License" value="NonCommercialPersonal,EPPlus Test Project" />
	</appSettings>
</configuration>