<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
	</runtime>
	<appSettings>
    <add key="EPPlus:ExcelPackage:LicenseContext" value="NonCommercial" />
    <add key="EPPlus:ExcelPackage.AllowCircularReferences" value="false" />
  </appSettings>
</configuration>