<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
	</runtime>
	<appSettings>
		<add key="EPPlus:ExcelPackage:LicenseContext" value="NonCommercial" />
		<add key="EPPlus:ExcelPackage.AllowCircularReferences" value="false" />
		<add key="EPPlus:ExcelPackage:License" value="Commercial,CGNCoSa1GgSHYvcsjVTU1W3ege0vwtl/9gFYj7qsBXsuVj9iqIHa9Deej4N/ZHnSkpNySdq7AQP0hCnfuTiMVQAGQjAxMTYw6AcAAG4BAQIA" />
	</appSettings>
</configuration>