<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunSettings>
		<!-- Configurations that affect the Test Framework -->
		<RunConfiguration>
			<Parallelize>
				<Workers>0</Workers>
				<Scope>MethodLevel</Scope>
			</Parallelize>
			<!-- Path relative to directory that contains .runsettings file-->
			<ResultsDirectory>.\.\TestResults</ResultsDirectory>

			<!-- true or false -->
			<!-- Value that specifies the exit code when no tests are discovered -->
			<TreatNoTestsAsError>true</TreatNoTestsAsError>
			
		</RunConfiguration>

		<!-- MSTest adapter -->
		<MSTest>
			<MapInconclusiveToFailed>True</MapInconclusiveToFailed>
			<CaptureTraceOutput>false</CaptureTraceOutput>
			<DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
			<DeploymentEnabled>False</DeploymentEnabled>
			<AssemblyResolution>
				<Directory path="\bin\Debug\net8.0" includeSubDirectories="true"/>
			</AssemblyResolution>
		</MSTest>

	</RunSettings>
</RunSettings>
